<!DOCTYPE html>
<html>
    <title>Kan Bağış Sistemi</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <body>
    <form method = "POST" action="">
        <h2>Lütfen bilgileri doldurun! (*) Doldurulması zorunlu alanı simgeler. </h2> <br>
        Ad*: <input type = "text" name = "isim" /> <br>
        parola*: <input type = "password" name = "parola" /> <br>
        kan grubu*: <input type = "text" name = "kangrubu" /> <br>
        Telefon Numarası*: <input type = "text" name = "telno" /> <br>
        yaşadığı şehir: <input type = "number" name = "sehir" /> <br>

        <input type = "submit">
    </form>
    </body>
</html>