{% extends "layout.html" %}

{% block body %}

<style>
.one {
  margin-left: 100px;
  float:left;
}

.two {
  margin-left: 50px;
  float:left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>



<!-- Side navigation -->
<div class="sidenav">
  <br><br>
  <a href="/donate">Bağış Yap</a>
  <a href="/mydonates">Geçmiş Bağışlarım</a>
  <a href="/need">Talep Oluştur</a>
  <a href="/changecity">Şehir Değiştir</a>
  <a href="/changeneed">Talep Sil</a>
  <a href="/deleteuser">Hesabımı Sil</a>
</div>

<!-- Page content -->
<div class="main" >

  <h2>Profilim</h2>
  <table>

    <tr>
      <td>İsim:</td>
      <td>{{session['name']}}</td>

    </tr>
    <tr>
      <td>Şehir:</td>
        {% if session['region_id'] == 6  %}
        <td>
        Ankara
        </td>
        {% endif %}
        {% if session['region_id'] == 35  %}
        <td>
        İzmir
        </td>
        {% endif %}
        {% if session['region_id'] == 34  %}
        <td>
        İstanbul
        </td>
        {% endif %}
    </tr>
    <tr>
      <td>Kullanıcı Adı:</td>
      <td>{{session['username']}}</td>

    </tr>

    <tr>
      <td>Kan Grubu:</td>
      <td>{{session['blood_group']}}</td>

    </tr>

    <tr>
      <td>Telefon Numarası:</td>
      <td>{{session['telno']}}</td>

    </tr>

  </table>
  <br><br>
  

<div class="one">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <br><br><h2>Toplam <br>Bağış Sayısı</h2>
    </div>
    <div class="flip-card-back">
      <br><br><br><h1>{{a['COUNT(*)']}}</h1>
    </div>
  </div>
</div>
</div>



<div class="two">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <br><br><h2>Toplam <br>Talep Sayısı</h2>
    </div>
    <div class="flip-card-back">
      <br><br><br><h1>{{b['COUNT(*)']}}</h1>
    </div>
  </div>
</div>
</div>



</div>
    





{% endblock %}